/* src/app/HomePage.css */
body {
  font-family: 'Courier New', Courier, monospace; /* Style rétro */
  background-color: #000000; /* Fond noir */
  margin: 0;
  padding: 0;
  color: #FFFFFF; /* Texte blanc */
  min-height: 100vh;
}

.home-container {
  max-width: 800px;
  margin: 20px auto; /* Centrer verticalement */
  padding: 20px;
  background: #000000; /* Fond noir */
  border: 2px solid #FFFFFF; /* Bordure blanche épaisse */
  text-align: center;
  border-radius: 0; /* Pas de bordures arrondies */
  box-shadow: none; /* Pas d'ombre */
  position: relative; /* Pour que le fond soit derrière ce contenu */
  z-index: 1;
}

h1 {
  color: #FFFFFF; /* Texte blanc */
  text-transform: uppercase; /* Texte en majuscules */
  margin-bottom: 20px; /* Espacement en bas */
}

p {
  color: #808080; /* Texte gris */
  margin: 20px 0;
}

.github-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000; /* Fond noir */
  color: #FFFFFF; /* Texte blanc */
  border: 2px solid #FFFFFF; /* Bordure blanche épaisse */
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 0; /* Pas de bordures arrondies */
}

.github-button:hover {
  background-color: #FFFFFF; /* Fond blanc */
  color: #000000; /* Texte noir */
}

.github-button img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
