.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000; /* Fond noir */
  padding: 10px 20px;
  border-bottom: 2px solid #FFFFFF; /* Bordure blanche épaisse */
  box-shadow: none; /* Pas d'ombre */
}

.navbar-logo a {
  color: #FFFFFF; /* Texte blanc */
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace; /* Style rétro */
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: #808080; /* Texte gris */
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace; /* Style rétro */
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #FFFFFF; /* Texte blanc au survol */
}
