/* src/app/CreateReport/Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #000000; /* Changement du fond en noir */
  color: #FFFFFF; /* Changement de la couleur du texte en blanc */
  padding: 20px;
  border: 2px solid #FFFFFF; /* Bordure blanche épaisse */
  border-radius: 0; /* Pas de bordures arrondies */
  max-width: 500px;
  width: 100%;
  max-height: 90%; /* Pour permettre le défilement si la modal est grande */
  overflow-y: auto; /* Permettre le défilement vertical */
  box-shadow: none; /* Pas d'ombre */
}

.modal-content {
  background: #000000; /* Changement du fond en noir */
  color: #FFFFFF; /* Changement de la couleur du texte en blanc */
  padding: 20px;
  border: 2px solid #FFFFFF; /* Bordure blanche épaisse */
  border-radius: 0; /* Pas de bordures arrondies */
}

.modal h2 {
  margin-top: 0;
  color: #FFFFFF; /* Texte blanc */
  text-transform: uppercase; /* Texte en majuscules */
}

.modal p {
  color: #808080; /* Texte gris */
}

.rank-distribution {
  display: flex;
  gap: 10px;
  color: #FFFFFF; /* Texte blanc */
}

hr {
  border: 1px solid #FFFFFF; /* Bordure blanche */
  margin: 10px 0;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-buttons button {
  background-color: #000000; /* Fond noir */
  color: #FFFFFF; /* Texte blanc */
  padding: 10px 20px;
  border: 2px solid #FFFFFF; /* Bordure blanche épaisse */
  border-radius: 0; /* Pas de bordures arrondies */
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.modal-buttons button:hover {
  background-color: #FFFFFF; /* Fond blanc */
  color: #000000; /* Texte noir */
}

button.close {
  background-color: #D9534F; /* Fond rouge pour bouton fermer */
  border: 2px solid #FFFFFF; /* Bordure blanche */
}

button.close:hover {
  background-color: #FFFFFF; /* Fond blanc au survol */
  color: #D9534F; /* Texte rouge */
}
